################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AsusRouter/v15
/AsusRouterApp/AsusRouterApp_StoreKey.pfx
/AsusRouterApp/AsusRouterApp_TemporaryKey.pfx
/AsusRouterApp/obj
/AsusRouterApp/bin
/AsusRouterApp/AppPackages/AsusRouterApp_1.1.0.0_x64_Debug_Test
